* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #b60040;
  --accent-color: #00b1f6;
  --accent-darker: #005475;
  --background-color: #001a25;
}

/* Navigation */
.navbar {
  min-height: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
  padding: 15px 50px;
  background-color: black;
}

.nav-item-container ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlogo a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-link {
  transition: 0.7s ease;
  font-size: 17px;
  color: #fff;
}

.nav-link:hover {
  color: var(--main-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-button-container button {
  height: 2.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.log {
  width: 5rem;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.download {
  width: 13rem;
  border: none;
  font-weight: bolder;
  font-size: 15px;
  background: var(--accent-color);
  color: #fff;
}
/* Navigation - End */
/* Top Container */
.top-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--background-color) 95%),
    url(../images/eivor.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.top-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 50%;
  width: 50%;
  gap: 1rem;
}

.top-container-left h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  width: 50%;
  text-align: end;
  text-shadow: 0 0 3px #fff;
}

.top-container-left p {
  color: #fff;
  font-size: 18px;
  width: 40%;
  text-align: end;
  text-shadow: 0 0 3px #fff;
}

.top-container-left button {
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, var(--accent-color), var(--accent-darker));
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.top-container-left button:hover {
  transform: scale(1.2);
}

.top-container-left a {
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
}

.top-container-right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-container-right img {
  max-height: 90%;
}

/* Mid Container */
.mid-container {
  background-color: var(--background-color);
  min-height: fit-content;
  padding: 2rem 0;
}

.mid-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mid-header h1 {
  font-size: 5rem;
  width: 50%;
  font-weight: bolder;
  text-shadow: 0 0 7px #fff;
  color: #fff;
}

.mid-header p {
  width: 70%;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 0 0 7px #fff;
}

.mid-images {
  display: flex;
  flex-direction: row;
  height: 60px;
  gap: 1rem;
}

.mid-images img {
  height: 60px;
  cursor: pointer;
}

/* Mid Cards */
.mid-cards {
  min-height: fit-content;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.mid-card {
  background: linear-gradient(45deg, var(--accent-darker), var(--main-color));
  min-height: 15rem;
  width: 18rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.mid-card:hover {
  transform: translateY(-10px);
}

.mid-card p {
  color: #fff;
}

.mid-card a {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mid-card-text {
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

/* Network */
.network {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 2rem;
}

.network-top {
  font-weight: bolder;
}

.network-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    rgba(247, 124, 16, 0.77),
    var(--background-color) 40%
  );
  width: 100%;
}

.network-left img {
  max-width: 100%;
}

.network-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

.network-header {
  font-size: 7rem;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #ffcc00, #f14a02 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.network-sub-header {
  font-size: 3rem;
  font-weight: bold;
}

.network-text {
  font-size: 1rem;
  font-weight: bold;
}

/* Endless */
#endless-right {
  text-align: end;
}

#endless-header {
  background: -webkit-linear-gradient(45deg, #aceff5 60%, #00aad4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#endless-left {
  background: radial-gradient(
    rgba(83, 255, 249, 0.77),
    var(--background-color) 40%
  );
}

/* Stats */
#stats-header {
  background: -webkit-linear-gradient(45deg, #81f785 40%, #03681e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Enhance */
#enhance {
  text-align: end;
}

#enhance-header {
  background: -webkit-linear-gradient(45deg, #ff3e04 40%, #de036d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Consoles */
.consoles {
  padding: 4rem 0;
  background: #001a25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.consoles-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.consoles-header h2 {
  font-size: 5rem;
  width: 50%;
  font-weight: bolder;
  background: -webkit-linear-gradient(45deg, #aceff5 60%, #00aad4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.consoles-header p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Footer */
footer {
  background: var(--background-color);
  margin-top: 15rem;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-top: 1px solid #fff;
}

.footer-top-left {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  align-items: center;
}

.footer-top-icons {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

#lang {
  width: 9rem;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 2rem;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

.footer-top-icons i {
  cursor: pointer;
}

option {
  background: var(--background-color);
  font-size: 15px;
}

/* Bottom Footer */
.footer-bot {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px 40px;
}

.footer-bot ul {
  display: flex;
  gap: 1rem;
}

.footer-bot li a {
  color: #fff;
}

.sale-img {
  width: 100%;
  height: 100%;
}

/* Store */
#store-top {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      var(--background-color)
    ),
    url(../images/store/store.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#top-right-store {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  color: #fff;
}

#top-right-store h2 {
  font-size: 3rem;
  width: 50%;
  font-weight: bold;
  text-shadow: 0 0 15px #fff;
}

#top-right-store p {
  font-size: 1.2rem;
  text-shadow: 0 0 15px #fff;
}

#top-right-store button {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
  font-weight: bold;
}

/* Sale */
.holiday-container {
  padding: 5rem 3rem;
  background-color: var(--background-color);
}
.holiday-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.holiday-card {
  min-height: 30rem;
  min-width: 17rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 2px 5px 5px;
}
.holiday-card-img {
  height: 23rem;
  width: 100%;
}
.sale-img {
  width: 100%;
}

.holiday-card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  padding: 10px;
}

.holiday-card-text-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.holiday-card-text-top p {
  font-weight: bold;
}

.holiday-card-text-top h2 {
  font-size: 20px;
  font-weight: bold;
}

.holiday-price {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.sale-price {
  font-size: 25px;
  color: #ff8400;
  text-decoration: underline;
}

.holiday-header {
  font-size: 2rem;
  margin: 2rem 2rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
}

.old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: rgb(81, 81, 81);
}

.holiday-card:hover {
  transform: translateY(-15px);
}

@media (max-width: 768px) {
  /* Navigation */
  .navbar {
    padding: 25px 25px;
    background-color: black;
    z-index: 100;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: -1000px;
    gap: 0;
    flex-direction: column;
    background: black;
    max-width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    width: 100%;
    padding: 1rem;
  }

  .nav-button-container {
    flex-direction: column;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-item {
    margin: 16px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .nav-item a {
    color: #fff;
  }

  .nav-item-container {
    padding-bottom: 1rem;
  }

  .nav-menu.active {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  }
  /* Navigation - End */
  /* Top Container */
  .top-container {
    height: 25rem;
    flex-direction: column-reverse;
    height: fit-content;
    padding: 2rem 0;
  }

  .top-container-left {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .top-container-left h2 {
    text-align: center;
  }

  .top-container-left p {
    text-align: center;
  }

  .top-container-right {
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
  }

  .top-container-right img {
    width: 80%;
  }

  /* Mid */
  .mid-container {
    padding: 2rem;
    min-height: fit-content;
  }
  .mid-header h1 {
    font-size: 3rem;
    width: 100%;
  }
  .mid-header p {
    font-size: 1rem;
  }
  .mid-images {
    flex-direction: row;
    justify-content: center;
  }
  .mid-images img {
    width: 7rem;
  }
  .mid-cards {
    padding: 0;
  }

  /* Endless */
  .network {
    flex-direction: column;
  }
  #endless {
    flex-direction: column-reverse;
  }
  #endless-right {
    text-align: center;
  }
  .network img {
    width: 25rem;
  }
  .network h2 {
    font-size: 3rem;
  }
  .network {
    text-align: center;
  }

  /* Enhance */
  #enhance {
    flex-direction: column-reverse;
    text-align: center;
  }

  /* Consoles */
  .consoles-header h2 {
    font-size: 3rem;
    width: 100%;
  }
  .consoles-image img {
    width: 100%;
  }

  /* Footer */
  .footer-bot ul {
    flex-direction: column;
    text-align: center;
  }

  .footer-top {
    padding: 20px 0;
  }

  /* Store */
  #store-top {
    padding: 0;
  }
  .store-top-container {
    min-width: fit-content;
  }
  .sale-img {
    justify-content: flex-end;
    align-items: flex-end;
  }
  #top-right-store {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
